body {
	background-color: aqua;
	font-family: 'Poppins', sans-serif;
}

#fishTank {
	display: flex;
	flex-wrap: nowrap;
	margin: 1em;
	border: 5px dashed red;
}

.fishList{
	flex: 3;
	display: flex;
	flex-wrap: wrap;

}
.fishList-card {
	background-color: chartreuse;
	margin: 1em;
	flex-basis: 25%;
	padding: 0 1em;
}

.card-image {

}

.fish-image {
	width: 100%;
	height: auto;
}

aside {
	flex: 1;
	background-color: cadetblue;